In [1]:
# Importación de datasets

In [3]:
import pandas as pd

In [5]:
# Especificar la ruta completa al archivo
datos = pd.read_csv("/Users/rafel/Documents/Python Data Science/99. Datos/DatosDemograficos.csv")

In [9]:
datos

,Nombre del Pais,Codigo de Pais,Tasa de Natalidad,Usuarios de Internet,Grupo de ingresos
0,Aruba,ABW,10.244,78.9,Ingreso alto
1,Afghanistan,AFG,35.253,5.9,Ingreso bajo
2,Angola,AGO,45.985,19.1,Ingreso medio alto
3,Albania,ALB,12.877,57.2,Ingreso medio alto
4,United Arab Emirates,ARE,11.044,88.0,Ingreso alto
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Ingreso medio bajo
191,South Africa,ZAF,20.850,46.5,Ingreso medio alto
192,"Congo, Dem. Rep.",COD,42.394,2.2,Ingreso bajo
193,Zambia,ZMB,40.471,15.4,Ingreso medio bajo
194,Zimbabwe,ZWE,35.715,18.5,Ingreso bajo